<!DOCTYPE html>
<html>
<head>
    <title>Contact Us</title>
</head>
<body>
    <h1>Contact Us</h1>
    <p>Phone: (+92)332 213 7898</p>
    <p>Address: Cantt Bazar Drigh Road, Karachi, Pakistan</p>
</body>
</html>